    <footer class="footer">
        <div class="flexbox-footer letra-productos-sans-serif">
<!--        <article id="sugerencias"> -->
        <div class="logo-footer"><img src="/public/img\logo.JPG" class="logo"></div>
            <div class="item-footer-menu">
              <div class="letra-serif-navbar"><h2>Servicios</h2></div>
              <div><a href="#"class="enlaces"> Catalogos</a></div>
              <div><a href="#"class="enlaces"> Promociones</a></div>
              <div><a href="#"class="enlaces"> Sucursales</a></div>
              <div><a href="#"class="enlaces"> Medios de Pago</a></div>
              <div><a href="#"class="enlaces"> Buscador de medicamentos</a></div>
              <div><a href="#"class="enlaces"> Salud y Farmacia</a></div>
        </div>
        <div class="item-footer-menu">
              <div class="letra-serif-navbar"><h2>Compras Online</h2></div>
              <div><a href="#"> Mis Pedidos</a></div>
              <div><a href="#"> Mi Carrito</a></div>
              <div><a href="#"> Costo de envio</a></div>
        </div>
        <div class="item-footer-menu">
              <div class="letra-serif-navbar"><h2>Atencion al Cliente</h2></div>
              <div><a href="#"> Preguntas Frecuentes</a></div>
              <div><a href="#"> Terminos y Condiciones</a></div>
              <div><a href="#"> Legales de Promociones</a></div>
         </div>
        </article>
      </div>
    </footer>
